body {
	background-color: #F2B06E!important;
	color: #924DCD!important;
}

nav {
	background-color: #f1904e!important;
}

a {
	color: white;
	text-decoration: underline;
}

a.btn {
	text-decoration: none;
}

.panel-default {
	border: solid 2px #924DCD;
}

.panel-default>.panel-heading {
	background-color: #924DCD!important;
	color: #F2B06E;
	font-weight: 700;
	border-bottom: solid 2px #924DCD;
	border-radius: 0;
}

.panel-default .panel-body {
	background-color: #f1904e;
	color: #641DA4;
	font-weight: 700;	
}

.navbar-default {
	border-bottom: solid 2px #924DCD;
}

.navbar-default .navbar-brand {
    color: #641DA4;
	font-weight: 700;
	text-decoration: none;
}

.table-hover>tbody>tr:hover, .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: rgba(120,50,10,0.1);

}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: solid 1px #924DCD;
}

.traits-wrapper {
	border: solid 2px #924DCD;
}

.traits-wrapper h3 {
	margin: 8px;
}

.trait {
	width: 49%;
	display: inline-block;
	padding: 8px;
	box-sizing: border-box;
}

.trait span {
	display: inline-block;
	font-weight: 700;
}

.trait .bar {
	width: 150px;
	position: relative;
	height: 4px;
	background: #924DCD;
	background: -webkit-linear-gradient(left, #C10, #36F); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #C10, #36F); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #C10, #36F); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #C10 , #36F); /* Standard syntax */
	display: inline-block;
}

.trait .bar .cursor {
	position: absolute;
	left: 0;
	bottom: -4px;
	display: block;
	width: 4px;
	height: 12px;
	background-color: white;
}

.charct-block {
	width:49.8%; 
	border:none;	
	display: inline-block;
	color: #924DCD; 
	text-align: center; 
	font-size: 30px; 
	font-family: verdana;
	box-sizing: border-box;
	vertical-align: top;
}

.charct-block:first-child {
	border-right: solid 4px #924DCD; 
}

.characteristic {
	font-size: 16px;
	display: inline-block;
	width: 20%;
	text-align: center;
	vertical-align: top;
}

.characteristics-wrapper {
	vertical-align: top;
}

.title-sheet {
	color: #924DCD; 
	text-align: center; 
	font-family: verdana;
}

#rectangle {
	width:100%;
	border-style: solid; 
	border-color: #924DCD;
}